/* Variables */
:root {
  --basic-dark: #000000;
  --basic-dark-background: #363636;
  --basic-white: #ffffff;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --special-yellow: #f7e296;
  --special-green: #91c92f;
  --special-yellow-dark: #f0c52e;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Global */
a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2"), url("../fonts/gilroylight.woff");
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2"),
    url("../fonts/gilroyextrabold.woff");
  font-weight: 800;
}

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-dark);
  text-transform: none;
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  max-width: 1160px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* Logo */

.main-header-logo {
  width: 163px;
  height: 35px;
  order: 1;
  justify-self: center;
  position: absolute;
  top: -20px;
}

.main-header-logo:hover {
  opacity: 0.6;
}

.main-header-logo:active {
  opacity: 0.3;
}

/* Main header */
.main-header {
  margin-bottom: 70px;
  background-color: var(--special-yellow);
  padding: 44px 60px 88px;
  margin-top: 40px;
  position: relative;
}

.main-navigation {
  font-size: 18px;
  line-height: 23px;
  color: var(--basic-dark);
  background-color: transparent;
}
.main-navigation-row {
  display: flex;
  align-items: center;
}
.main-navigation-row:last-child {
  margin-bottom: 0;
}
.main-navigation-col {
  flex: 1;
}

/* поиск по сайту */
.search {
  box-sizing: border-box;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  margin-bottom: 50px;
}

.A11y-Hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.form-search {
  position: relative;
  width: 440px;
  font-size: 15px;
  line-height: 30px;
}

.label-search::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 0px;
  border: 3px solid transparent;
  width: 22px;
  height: 22px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' stroke='%23000' stroke-width='2' stroke-linecap='round'%3E%3Cpath d='M15 15l-3-3'/%3E%3Ccircle cx='7' cy='7' r='6'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.input {
  font: inherit;
  width: 440px;
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 38px;
  padding-right: 100px;
  border: 0;
  border-top: 2px solid hsla(0, 0%, 0%, 0);
  border-bottom: 2px solid hsla(0, 0%, 0%, 0);
  background-color: hsla(0, 50%, 50%, 0);
}

.input:focus {
  border-bottom: 2px solid hsla(0, 0%, 0%, 1);
  outline: none;
}

.input:not(:valid) {
  box-shadow: none;
  outline: none;
}

.input_type_search::placeholder {
  color: hsl(0, 0%, 0%, 0.3);
}

.input_type_search:focus::placeholder {
  color: hsl(0, 0%, 0%, 0.6);
}

.button-search {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 19px;
  padding-right: 19px;
  border: 2px solid #000;
  font: inherit;
  background-color: hsla(0, 0%, 0%, 0);
  opacity: 0;
}

.input:focus + .button-search,
.input:valid + .button-search,
.button-search:hover,
.button-search:focus,
.button-search:active {
  opacity: 1;
}

.button-search::-moz-focus-inner {
  border: 0;
}

.button-search:hover,
.button-search:focus,
.button-search:active {
  outline: 0;
  color: hsla(0, 0%, 100%, 1);
  background-color: hsl(0, 0%, 0%);
}

.button-search:active {
  color: hsla(0, 0%, 100%, 0.3);
}

/* SUBMENU */
.submenu {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  list-style-type: none;
  text-decoration: none;
  text-transform: none;
  color: var(--basic-dark);
  margin: 0;
  padding: 0;
  display: none;
}

.submenu-item:hover {
  opacity: 0.6;
}

.submenu-item:active {
  opacity: 0.3;
}

/* ВЫПАДАЮЩЕЕ МЕНЮ */
.dropdown-menu {
  line-height: 20px;
  list-style-type: none;
  text-decoration: none;
  text-transform: none;
}

/* ПЕРСОНАЛЬНАЯ НАВИГАЦИЯ войти */
.navigation-personal {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.3);
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  margin-bottom: 50px;
  margin-top: 10px;
}

.navigation-personal-item {
  color: var(--basic-dark);
  margin-right: 40px;
}
.navigation-personal-item:first-child {
  margin-right: auto;
}

.navigation-personal-item:last-child {
  margin-left: auto;
}
.navigation-personal-item:hover {
  color: rgba(0, 0, 0, 0.6);
}

.navigation-personal-item:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation-wrapper {
  background-color: var(--basic-white);
}

.navigation-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:active {
  opacity: 0.3;
}
.navigation-personal-link::before {
  content: "";
  width: 13px;
  height: 13px;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.site-navigation {
  list-style: none;
}

/* блок доставка/ гарантия/контакты */
.site-navigation {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.site-navigation {
  display: flex;
  margin-right: 0;
  margin-left: auto;
}
.site-navigation-item {
  margin-right: 38px;
}
.site-navigation-item:last-child {
  margin-right: 0;
  margin-left: auto;
}
/* Grid */

.page {
  height: 100%;
}

/* Bread crumbs */
/* ЗАГОЛОВОК 1 */
.header-breadcrumbs {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  margin-bottom: 30px;
  margin-left: 200px;
  width: 500px;
  height: 58px;
}

.bread-crumbs {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-dark);
  margin-bottom: 30px;


}
.breadcrumbs-1 {
  margin-bottom: 30px;
}
.bread-crumbs-list {
  list-style: none;
  margin: 0;
  padding: 0;
  color: var(--basic-dark);
  width: 385px;
  height: 18px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
    margin-left: 200px;
}

/* покой */

.br-cr-list {
  opacity: 0.3;
}

/* наведение */
.br-cr-list:hover {
  opacity: 0.6;
}

/* нажатие */
.br-cr-list:active {
  opacity: 0.1;
}
li.br-cr-list::after {
  content: "";
  display: block;
  width: 4px;
  height: 7px;
  background-image: url(http://127.0.0.1:5500/img/main/arrow_breadcrumbs.svg);
}
.br-cr-list::last-chaeld::after {
  display: none;
}
/* селфи палки */
.pic-card {
  max-width: 160px;
}
.catalog-pic {
  flex-direction: row;
}
.popular-img {
  display: inline-block;
}

.popular-image-wrap {
  width: 160px;
  height: 160px;
  background-color: var(--special-yellow);
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.popular-image-wrap:hover {
  background-color: var(--special-yellow-dark);
}
.popular-image-wrap:active .popular-img {
  opacity: 0.3;
}

/* надписи карточек желтых каталога */
.filters-header {
  background-color: var(--basic-grey-light);
  margin-bottom: 69px;
}
.title-catalog {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  margin: 0px;
  padding: 0;
  border: 38px;
  justify-content: space-between;
}

/* фильтры */
.title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.container-filter-wrap {
  list-style: none;
  list-style-type: none;
  text-transform: none;
  text-decoration: none;
  display: flex;

  height: 70px;
}
.checkbox-catalog{
  display: flex;
}
.filter-wrap {
  list-style: none;
  list-style-type: none;
  text-transform: none;
  text-decoration: none;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  background-color: rgba(220, 220, 220, 1);
  display: flex;
  width: 468px;
  height: 70px;

}

.sort-wrap {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  list-style-type: none;
  background: var(--basic-grey-light);
  display: flex;
  width: 972px;
  height: 70px;
  display: flex;
  width: 972px;
  height: 70px;
  margin-left: 468px;
}
.sort {
  display: flex;
  width: 160px;
}
.sort:hover {
  opacity: 0.6;
}

.sort:active {
  opacity: 1;
}

.sort ul {
  list-style: none;
  line-height: 18px;
}
.sort-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
/* ТРЕУГОЛЬНАЯ КНОПКА */
.triangel {
  display: flex;
}

.previous,
.next {
  display: block;
  width: 0;
  height: 0;
  border-bottom: none;
  border: 5px solid transparent;
  border-bottom: none;
  border-top: 10px solid var(--basic-dark);
  opacity: 0.2;
}
.previous:hover,
.next:hover {
  opacity: 0.4;
}
.previous:active,
.next:active,
.triangle-active {
  opacity: 1;
}
.next {
  transform: rotate(-180deg);
}

/* слайдер */
.slidebar {
  list-style: none;
}

.checkbox-list {
  list-style: none;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
}
.box {
  border: 2px solid var(--basic-dark);
  box-sizing: border-box;
  border-radius: 2px;
}
.container {
  list-style-type: none;
  text-decoration: none;
}
.all-slider-card {
  list-style: none;
  display: flex;
  align-items: center;
  transform: translateY(-150);
}
.picture-slider {
  flex-shrink: 0;
}
.hidden {
  display: none;
}
.photo-slider {
  text-align: left;
  list-style-type: none;
  text-decoration: none;
  transform: translateY(-130px);
}

.slider-right {
  text-align: right;
  list-style-type: none;
  text-decoration: none;
  width: 495px;
  height: 112px;
  margin-right: 205px;
  margin-left: 44px;
}

/* ЗАГОЛОВОК СЛАЙДЕРА коптер,палки,браслет */
.title-slider {
  font-family: Gilroy, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  display: flex;
  align-items: center;
  margin-top: 0;
  text-align: left;
  width: 495px;
}

/* ОСНОВНОЙ ТЕКСТ ПОД СЛАЙДЕРОМ */
.benefits-list {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
}
.details-item {
  margin-right: 30px;
  list-style: none;
  padding: 0;
}
.details {
  font-family: Gilroy, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  color: var(--basic-dark);
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  width: 333px;
  height: 72px;
  margin-top: 60px;
  text-align: left;
}

.details-second {
  font-family: Gilroy, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  width: 60px;
}
.mini-text-detalis {
  display: flex;
}
.slider-middle {
  text-align: right;
  list-style-type: none;
  text-decoration: none;
}

.slider-left {
  text-align: right;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  width: 495px;
  height: 112px;
  margin-right: 205px;
  margin-left: 44px;
}

/* кнопка подробнее покой*/

.button-more {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 9px 20px;
  position: relative;
  display: inline-block;
  text-align: center;
}
.button-more-big {
  min-width: 260px;
}
.button-more-middle {
  min-width: 220px;
}
.button-more-small {
  min-width: 160px;
}
/* кнопка подробнее наведение*/
.button-more:hover {
  background: var(--special-yellow-dark);
}

/* кнопка подробнее нажатие*/
.button-more:active {
  background: var(--special-yellow-dark);
  color: rgb(240, 197, 46, 0.3);
}

.button-more::before {
  content: "";
  background: var(--special-yellow-dark);
  height: 8px;
  width: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  /* z-index: -1; */
}
.button-more-text {
  z-index: 2;
  position: relative;
  margin-bottom: 86px;
}
.list-button-slider {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* catalog 2 page */
.all-slider-card li {
  list-style-type: none;
  display: flex;
}

/* Catalog */

.features-list {
  list-style-type: none;
}

.filters {
  text-align: left;
  list-style-type: none;
  text-decoration: none;
}

.filters h3 {
  font-size: 18px;
  line-height: 22px;
}
/* checkbox */
.checkbox-fake {
  width: 24px;
  height: 24px;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 18px;
}
.checkbox-input:checked + .checkbox-fake::before {
  content: "";
  border: var(--basic-grey-light);
  width: 14px;
  height: 11px;
  display: block;
  background-image: url("../img/icons/Check_mark.svg");
  background-size: contain;
}
.label-input {
  display: flex;
  align-items: center;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
}

.popular-item {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.product-list {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 325px;
    list-style: none;
    width: 883px;
    height: 761px;
}

.product-button {
  display: none;
  top: 0;
  left: 0;
  position: absolute;
  width: 360px;
  height: 381px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.product-button:hover {
  display: none;
  top: 0;
  left: 0;
  position: absolute;
  width: 360px;
  height: 381px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
li.product-item {
  position: relative;
}
.product-img:hover ~ .product-button .product-button:hover {
  display: flex;
}
.text-inside {
  list-style-type: none;
  text-decoration: none;
}
/* название карточек */
.text-inside {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}
.price-add {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
}
.price {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}
/* checkbox */
.titile-legend {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: #000000;
}

.checkbox-square {
  text-align: left;
  list-style-type: none;
  background-color: var(--basic-grey-light);
}

.checkbox-round {
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  text-align: left;
  list-style-type: none;
  background-color: var(--basic-grey-light);
}

.checkbox-round-item {
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  text-align: left;
  list-style-type: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
}

.submit::before {
  content: "";
  background: var(--special-yellow-dark);
  height: 8px;
  width: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: -1;
}

/* PAGGINATION */
/*ОБЩИЙ БЛОК ПАГИНАЦИИ */
.pagination-item {
  background: #ebebeb;
}

.pagination-list {
  list-style: none;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  opacity: 0.3;
}
.pagination-list:hover {
  opacity: 0.6;
}
.pagination-list:active {
  color: var(--basic-dark);
}

/* КНОПКИ ВПЕРЕД НАЗАД  */
.button-pagination-item {
  background: none;
  border: none;
  font-family: Gilroy, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0.1em;
}
.button-pagination {
  background: none;
  border: none;
  width: 120px;
  height: 70px;
  background-color: #d9d9d9;
  border: none;
  color: #000000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* кнопка назад/вперед наведение*/
.button-pagination:hover {
  color: var(--basic-dark);
  background: #d9d9d9;
}

/* кнопка назад/вперед нажатие*/
.button-pagination:active {
  background: rgba(217, 217, 217, 1);
  color: var(--basic-dark-background);
}

.button-pagination::before {
  content: "";
  background: var(--special-yellow-dark);
  height: 8px;
  width: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: -1;
}

/* services */
.services-list {
  list-style-type: none;
  max-width: 756px;
}

/* заголовки доставка гарантия кредит */
.title-second {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.services-text {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
}

.partner-logo {
  text-align: center;
}
/* logo-row лого партнеров */
.logo-row {
  display: flex;
  margin-bottom: 90px;
  align-items: center;
}
/* о нас контакты */

.about-us {
  text-align: left;
  max-width: 475px;
}
.list-descripsion {
  margin-bottom: 40px;
}
.last-descripsion {
  margin-bottom: 60px;
}
.contacts {
  margin: 0;
  padding: 0;
  max-width: 560px;
}

.index-columns-wrap {
  color: var(--basic-black);
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  flex-direction: row;
  display: flex;
}

.index-columns-title {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin-bottom: 50px;
}
.text-topmap {
  margin-bottom: 40px;
}
.map {
  margin-bottom: 85px;
}
.map-picture {
  margin-bottom: 40px;
}
/* FOOTER */
.main-footer {
  color: var(--basic-dark-background);
  background-color: var(--basic-dark-background);
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  display: flex;
  display: block;
}

.background-footer {
  width: 220px;
  height: 120px;
  background: var(--basic-dark-background);
}

/* футер контакты */
/* покой */

.footer-contacts-button {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--basic-white);
  display: flex;
  margin-left: 320px;
  justify-content: space-around;
  margin-bottom: 50px;
  margin-right: 0;
  width: 423px;
  height: 22px;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}
.menu-icon {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-white);
}
.menu-icon {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  width: 325px;
  height: 22px;
  margin-left: 1230px;
}
.menu-icon-link {
  color: rgba(255, 255, 255, 0.7);
}
.menu-icon-link:hover {
  color: rgba(255, 255, 255, 1);
}
.menu-icon:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-adress {
  text-align: left;
  text-transform: none;
  color: var(--basic-white);
  background-color: transparent;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  width: 212px;
  height: 40px;
}

.contacts-phone {
  list-style-type: none;
  text-align: right;
  text-transform: none;
  color: var(--basic-white);
  background-color: transparent;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  width: 156px;
  height: 20px;
}
/* лого соц.сетей */
.footer-socials {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.social-icon {
  opacity: 0.3;
}
.social-icon:hover {
  opacity: 0.1;
}
.social-icon:active {
  opacity: 0.6;
}

/* LOGO HTML Academy */

.footer-copyright {
  text-align: right;
  list-style-type: none;
  color: var(--special-yellow-dark);
  display: flex;

  margin: 0;
  margin-bottom: 10px;
}

.footer-copyright:hover {
  color: rgba(240, 197, 46, 1);
  opacity: 0.6;
}

.footer-copyright:active {
  color: rgba(240, 197, 46, 1);
  opacity: 0.3;
}

/* mini list */
.info-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 84px;
}

.info-item {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
}

/* КРУЖОК список деловые линии   */
.info-item::before {
  content: "";
  width: 8px;
  height: 8px;
  border: solid;
  border-radius: 50%;
  background: #ffffff;
  display: block;
  color: rgba(229, 229, 229, 1);
  margin-right: 10px;
}

/* LOGO YELLOW FOOTER */
.yellow-footer-logo {
  width: 163px;
  height: 35px;
  margin-bottom: 40px;
  margin-top: 64px;
}

.yellow-footer-logo:hover {
  opacity: 0.6;
}

.yellow-footer-logo:active {
  opacity: 0.3;
}

.services {
  margin-bottom: 90px;
  background-image: linear-gradient(180deg, transparent 130px, #e5e5e5 130px);
}

.services-wrap {
  display: flex;
  justify-content: space-between;
}

.services-item {
  padding-right: 200px;
  position: relative;
}

.services-image {
  position: absolute;
  right: 0;
  top: 0;
}
.list-button-slider {
  max-width: 250px;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 130px;
  position: relative;
}
.list-button-slider:after {
  content: "";
  width: 7px;
  height: 320px;
  background: #000;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.button-selection-slider-active {
  background: #000;
}

.button-selection-slider-active .button-more {
  background: transparent;
  color: var(--special-yellow-dark);
}

.button-selection-slider-active .button-more:before {
  display: none;
}

.button-selection-slider {
  margin-bottom: 30px;
}

.button-selection-slider:last-child {
  margin-bottom: 0;
}
